WB_TOKEN_STR = 
URL_REPORT_DETAIL_BY_PERIOD_STR = "https://statistics-api.wildberries.ru/api/v1/supplier/orders"
URL_GOODS_FILTER_STR = "https://discounts-prices-api.wildberries.ru/api/v2/list/goods/filter"
MINUTES_STEP_INT = 20